https://www.youtube.com/watch?v=tBULq_eYa-o
https://www.sculpteo.com/blog/2015/11/11/scanning-for-3d-printing-using-photogrammetry/
http://www.regard3d.org/index.php/documentation/tutorial 
regard3d 
meshmixer
meshlab
photoshop cc 2018 
sketchup pro 2018
